* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 100vw;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  height: 7vh;
  background-color: #0fa4af;
  color: #fa876a;
}

main {
  display: flex;
  justify-content: center;
  min-width: 100vw;
  height: 90vh;
  background-color: #afdde5;
  padding: 32px;
}

#blogs-container {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.blog-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  background-color: white;
  box-shadow: 2px 2px 3px 1px #daeff3;
  padding: 32px;
  border-radius: 8px;
  max-width: 60vh;
  min-width: 20ch;
  transition: transform 0.5s;
  transform: scale(1);
}

.preview:hover {
  cursor: pointer;
  transition: transform 0.5s;
  transform: scale(1.05);
}

.blog-post:active {
  background-color: rgb(245, 245, 245);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  height: 3vh;
  background-color: #024950;
  color: white;
}

a:link,
a:visited {
  color: white;
}
